/*********************************** Fonts ****************************************/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

/*********************************** Default Settings ******************************/

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
/************************************** Tags ****************************************/

html {
  scroll-behavior: smooth;
}

body {
  background-color: linear-gradient(
      5.85deg,
      #dacdff -39.75%,
      rgba(218, 205, 255, 0) 61.37%
    ),
    #ffeaee;
  background: #d9ecf2;
}

h1 {
  font-family: "Monsterrat", sans-serif;
  color: #16a596;
  font-size: 3rem;
  letter-spacing: 3px;
}

p {
  color: #9ad3bc;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

/*************************************** Navbar **************************************/

nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  background-color: linear-gradient(
      5.85deg,
      #dacdff -39.75%,
      rgba(218, 205, 255, 0) 61.37%
    ),
    #ffeaee;
}

.navbar {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.navbar a {
  text-decoration: none;
  color: #9ad3bc;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

.navbar a:hover {
  transform: scale(0.95);
  transition: 0.1s;
  border-bottom: 5px solid #16a596;
}

/******************************************** Intro Page ********************************/

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 600px;
  width: 90%;
  margin: 0 auto;
}

.myImage {
  margin: 0 auto;
}

.myImage img {
  border-radius: 20px;
  -webkit-box-shadow: 1px 2px 20px -1px rgba(46, 32, 46, 0.76);
  -moz-box-shadow: 1px 2px 20px -1px rgba(46, 32, 46, 0.76);
  box-shadow: 1px 2px 20px -1px rgba(46, 32, 46, 0.76);
  width: 200px;
  height: 200px;
  margin: 40px auto;
}

.headingText {
  color: #16a596;
  font-family: "Great Vibes", cursive;
  margin: 10px auto;
  font-size: 6em;
  text-align: center;
}

.subText {
  text-align: center;
  font-size: 2rem;
  margin: 0 auto;
  height: 55px;
}

/************************************** Skills Page Section *****************************/

.heading {
  font-family: "Lato", sans-serif;
  color: #9ad3bc;
  border-bottom: 5px solid #9ad3bc;
  text-transform: uppercase;
  font-size: 3rem;
  margin-top: -50px;
}

.skillSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 160px 0 0 0;
  background-color: #16a596;
  border-radius: 20px;
  margin: 10px auto;
  width: 90%;
  -webkit-box-shadow: 1px 2px 20px -1px rgba(46, 32, 46, 0.76);
  -moz-box-shadow: 1px 2px 20px -1px rgba(46, 32, 46, 0.76);
  box-shadow: 1px 2px 20px -1px rgba(46, 32, 46, 0.76);
}

.skillImages img {
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin: 100px 20px 150px 20px;
  transition: 0.5s ease;
}

.skillImages img:hover {
  transform: scale(0.95);
  transition: 0.3s ease-in-out all;
  -webkit-box-shadow: 1px 2px 20px -1px rgba(46, 32, 46, 0.76);
  -moz-box-shadow: 1px 2px 20px -1px rgba(46, 32, 46, 0.76);
  box-shadow: 1px 2px 20px -1px rgba(46, 32, 46, 0.76);
}

.htmlImage {
  background-color: #f12a2ade;
}

.cssImage {
  background-color: #0278ae;
}

/********************************* Contact Form Page Section *****************************/

.contactMe {
  height: 550px;
  background: #16a596;
  width: 50%;
  max-width: 100%;
  margin: 100px auto;
  border-radius: 20px;
  -webkit-box-shadow: 1px 2px 20px -1px rgba(46, 32, 46, 0.76);
  -moz-box-shadow: 1px 2px 20px -1px rgba(46, 32, 46, 0.76);
  box-shadow: 1px 2px 20px -1px rgba(46, 32, 46, 0.76);
}

.contactTitle {
  border-bottom: 5px solid #9ad3bc;
}

.contactHeading {
  padding: 20px 0;
  color: #9ad3bc;
  text-align: center;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 1.8rem;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0 70px 10px 70px;
}

.form input {
  margin: 20px auto;
  text-align: center;
  height: 60px;
  border: none;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  outline: none;
  width: 100%;
  background-color: #d9ecf2;
}

.form input::placeholder {
  color: #9ad3bc77;
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
}

.form input[type="submit"] {
  width: 35%;
  margin: 35px auto;
  height: 70px;
  color: #16a596;
  font-size: 1.2rem;
  background-color: #9ad3bc;
}

.form input[type="submit"]:hover {
  -webkit-box-shadow: 1px 2px 20px -1px rgba(46, 32, 46, 0.76);
  -moz-box-shadow: 1px 2px 20px -1px rgba(46, 32, 46, 0.76);
  box-shadow: 1px 2px 20px -1px rgba(46, 32, 46, 0.76);
  background-color: #16a596;
  color: #9ad3bc;
  cursor: pointer;
}

.form input[type="text"],
[type="email"],
[type="tel"] {
  font-size: 1.2rem;
  color: #16a596;
}

.form [type="text"]:focus,
[type="email"]:focus,
[type="tel"]:focus {
  -webkit-box-shadow: 1px 2px 20px -1px rgba(46, 32, 46, 0.76);
  -moz-box-shadow: 1px 2px 20px -1px rgba(46, 32, 46, 0.76);
  box-shadow: 1px 2px 20px -1px rgba(46, 32, 46, 0.76);
}

/****************************************** Footer ****************************************/

footer {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.socialLinks {
  margin: 2px auto 10px auto;
}

.copyright {
  margin-bottom: auto;
  margin-right: auto;
  font-size: 20px;
  letter-spacing: 3px;
}

.hover1:hover,
.hover2:hover,
.hover3:hover,
.hover4:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.fab {
  color: #16a596;
  padding: 0 2px;
  margin: 0 10px;
}

/*************************************** Media Queries ***********************************/
@media (max-width: 1024px) {
  .contactMe {
    padding: 20px;
    width: 70%;
    height: auto;
  }

  .form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }

  .form {
    padding: 10px 20px;
  }
}

@media (max-width: 1080px) {
  .skillSection {
    padding-top: 60px;
    margin: 0 auto;
    width: 90%;
  }
  .skillImages {
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .skillImages img {
    margin: 40px 100px;
  }

  .contactMe {
    padding: 20px;
    width: 70%;
    height: auto;
  }

  .form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }

  .form {
    padding: 10px 20px;
  }
}

@media (max-width: 768px) {
  .skillSection {
    padding-top: 60px;
    margin: 0 auto;
    width: 90%;
  }
  .skillImages {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .skillImages img {
    margin: 40px;
  }

  .contactMe {
    padding: 20px;
    width: 70%;
  }

  .form input {
    width: 100%;
    padding: 10px;
    margin: 10px;
  }
}
@media (max-width: 800px) {
  .skillSection {
    padding-top: 60px;
    margin: 0 auto;
    width: 90%;
  }
  .skillImages {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .skillImages img {
    margin: 40px;
  }

  .contactMe {
    padding: 20px;
    width: 70%;
    height: auto;
  }

  .form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }

  .form {
    padding: 10px 20px;
  }
}

@media (max-width: 500px) {
  .skillSection {
    padding-top: 60px;
    margin: 0 auto;
    width: 90%;
  }
  .skillImages {
    margin: 20px 40px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .skillImages img {
    margin: 40px;
  }

  .contactMe {
    padding: 20px;
    width: 90%;
  }

  .form input[type="submit"] {
    width: 50%;
  }
  footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}

@media (max-width: 636px) {
  .skillSection {
    padding-top: 60px;
    margin: 0 auto;
    width: 90%;
  }
  .skillImages {
    margin: 20px 40px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .skillImages img {
    margin: 40px;
  }

  .contactMe {
    padding: 20px;
    width: 90%;
  }

  .form input[type="submit"] {
    width: 50%;
  }
  footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}

@media (max-width: 400px) {
  .heading {
    display: inline-block;
    margin: 0 auto;
  }
  .myImage img {
    margin: 0 auto;
  }
  .skillSection {
    padding: 0;
    width: 90%;
  }
  .skillImages {
    margin: 40px 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .skillImages img {
    margin: 40px;
  }

  .contactMe {
    padding: 0;
    width: 90%;
    height: auto;
    max-width: 100%;
    margin: 40px auto;
    border-radius: 20px;
  }

  .form input {
    width: 100%;
    padding: 0;
    margin: 10px auto;
  }

  .form input[type="submit"] {
    width: 100%;
    margin: 10px auto;
  }

  footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  @media (max-width: 360px) {
    footer {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
    .footer {
      font-size: 10px;
      margin: 0 auto;
    }
  }
}
